# Core
ipykernel
jupyterlab
notebook
ipywidgets

# Data handling
numpy
pandas
xarray
pyjanitor
ydata-profiling

# pytables en pip
tables

# Math & stats
scipy
statsmodels
scikit-learn
sympy

# Visualization
matplotlib
seaborn
plotly
missingno
pandas-flavor

# Utilities
fs
pathlib

# Pip-only extras
pyprojroot
sweetviz
ydata-profiling
tqdm
loguru
rich
